@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* react slick-slider */
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.bg-blue {
  background-color: #6d4aae;
}
@media (min-width: 1400px) {
  .container
    .container-lg
    .container-md
    .container-sm
    .container-xl
    .container-xxl {
    max-width: 1300px;
  }
}
.header-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-wrapper .top-strip {
  padding: 8px 0;
}
.header-wrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.header-wrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0;
}
.logo-wrapper img {
  width: 100%;
}
.header-wrapper .header .part2 .country-drop {
  display: flex;
  width: 180px;
  height: 60px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 15px;
}
.header-wrapper .header .part2 .country-drop .name {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.header-wrapper .header .part2 .country-drop .label {
  font-size: 12px !important;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
  line-height: 16px;
}
.header-wrapper .header .part2 .country-drop .name {
  font-size: 14px !important;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  line-height: 16px;
}
.header-wrapper .header .part2 .country-drop span .ml-aouto svg {
  opacity: 0.7;
}
.header-wrapper .header .part2 .country-drop span svg {
  margin-left: 7px;
}
.header-search {
  width: 60%;
  height: 60px;
  background-color: #f3f4f7;
  padding: 5px !important;
  position: relative;
  /* margin-left: 10px !important; */
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header-search input {
  background: transparent !important;
  outline: none;
  border: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 45px;
  padding: 0 20px;
}
.header-search button {
  position: absolute;
  top: 10px;
  right: 14px !important;
  z-index: 100;
  min-width: 40px !important;
  min-height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
}
.header-search button svg {
  font-size: 25px !important;
}

header .part3 .circle {
  align-items: center;
  min-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}
header .part3 {
  margin-left: auto;
}
header .part3 .circle svg {
  font-size: 22px;
}
.cart-tab .price {
  margin: 0 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.cart-tab button {
  background: #fff1ee;
}
.cart-tab button svg {
  color: #ea2b0f;
}
.cart-tab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}

nav .allcat-tab {
  background: #2bbef9;
  padding: 8px 20px !important;
  border-radius: 30px !important;
}
nav .allcat-tab * {
  color: #fff;
}
nav .allcat-tab .text {
  font-weight: 600;
}
nav .allcat-tab .icon1 svg {
  font-size: 20px !important;
  margin-right: 8px;
}
nav .allcat-tab .icon2 svg {
  font-size: 15px !important;
  margin-left: 8px;
}
nav .nav-part1 .car-wrapper {
  position: relative;
}
nav .nav-part1 .car-wrapper .side-navbar {
  width: 100% !important;
  height: auto;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 110%;
  left: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
}
nav .nav-part1 .car-wrapper .side-navbar.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
  
}
nav .nav-part1 .car-wrapper .side-navbar ul li {
  width: 100%;
  display: block !important;
  list-style: none;
  padding: 0 15px;
}
nav .nav-part1 .car-wrapper .side-navbar ul li button {
  color: #000;
  width: 100%;
  justify-content: flex-start !important;
}
nav .nav-part2 ul {
  margin-bottom: 0px;
}
nav .nav-part2 ul li a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  /* display: flex;
  align-items: center; */
  padding: 10px 15px;
  /* transition: all 0.2s ease-in-out; */
  border-radius: 25px;
}
nav .nav-part2 ul li a:hover {
  background-color: #f0faff;
  color: #2bbef9;
}

.location-model .country-list li button.active {
  background: #dcdada !important;
}
nav .nav-part2 ul li a svg {
  font-size: 20px;
  margin: 0 2px 2px 0;
}
nav .nav-part2 ul li {
  position: relative;
  padding-bottom: 20px;
}
nav .nav-part2 ul li .submenu {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 200px;
  background: #fff;
  opacity: 0;
  transition: all 0.1.5s ease-in-out;
}
nav .nav-part2 ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}
nav .nav-part2 ul li .submenu a {
  display: block;
  width: 100%;
  border-radius: 0px !important;
  text-align: start;
  font-weight: 600;
}
.location-model .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}
.location-model .MuiPaper-elevation .country-list {
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.location-model .MuiPaper-elevation .country-list li {
  width: 100%;
  list-style: none;
}
.location-model .country-list li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #000;
  justify-content: flex-start;
  padding: 15px 20px;
}
.location-model .close_ {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
}
.location-model .close_ svg {
  font-size: 20px;
}
